# SauceDemo UI
SAUCEDEMO_BASE_URL=
SAUCEDEMO_STANDARD_USERNAME=
SAUCEDEMO_STANDARD_PASSWORD=
SAUCEDEMO_LOCKED_USERNAME=
SAUCEDEMO_INVALID_USERNAME=
SAUCEDEMO_INVALID_PASSWORD=

# ReqRes API 
REQRES_BASE_URL=
REQRES_VALID_EMAIL=
REQRES_VALID_PASSWORD=
REQRES_API_KEY=

# Checkout form
CHECKOUT_FIRST_NAME=
CHECKOUT_LAST_NAME=
CHECKOUT_POSTAL_CODE=
